/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left, #8942a8, #ba382f);

  .admin {
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 30px;
    &:hover {
      color: white;
    }
    .ad {
      text-decoration: none;
      color: black;
      font-size: 15px;
      font-weight: bold;
    }
    // margin-right: 30;
  }
  position: relative;
  .banner {
    height: 100%;
    width: 90vw;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .card {
      height: 300px;
      width: 250px;
      // background-color: #010101;
      background-color: #f9f9f9;
      position: relative;
      overflow: hidden;
      transition: 0.5s;
      border-radius: 20px;
      box-shadow: 0 7px 5px -5px #4d4b4b;
      &:hover {
        height: 520px;
        width: 260px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      }
      &:hover .card__detail {
        // top: 240px;
        bottom: 0px;
        width: 100%;
        transition: 10s;
      }
      .card__top {
        transform: translateY(10px);
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .type-phone {
          color: black;
          font-weight: bold;
        }
        i {
          font-size: 1.5rem;
          color: black;
        }
        em {
          color: green;
          font-weight: 700;
        }
      }
      .card__img {
        transform: translateY(20px);
        height: 185px;
        width: 185px;
        margin: 0 auto;
        // background-color: white;
        background-color: black;
        display: flex;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .card__detail {
        // padding-top: 50px;
        padding: 22px;
        background-color: black;
        color: white;
        position: absolute;
        top: 250px;

        display: flex;
        border-radius: 20px;

        justify-content: space-evenly;
        flex-direction: column;

        .detail__name {
          display: flex;
          justify-content: space-between;
          button {
            margin-bottom: 10px;
            color: white;
            &:focus {
              color: red;
            }
          }
        }
        .detail__descrip {
          font-size: 0.9rem;
          h4 {
            margin: 10px 0;
          }
          ul {
            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px 0;
              p {
                width: 60%;
              }
              div {
                width: 50%;
              }
            }
          }
        }
        .detail__purchase {
          padding-top: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            font-weight: 600;
          }
          .btn-add {
            border: 1px solid white;
            border-radius: 20px;
            padding: 6px 10px;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              background: white;
              color: black;
            }
          }
        }
      }
    }
  }
  .filter {
    position: absolute;
    color: black;
    top: 20px;
    left: 10px;
    // background-color: #fff;
    #type {
      border: none;
      color: black;
      font-weight: bold;
      background: linear-gradient(to left, #8942a8, #ba382f);
    }
  }
  .btn__cart {
    position: absolute;
    top: 50px;
    right: 30px;
    button {
      align-self: flex-start;
      color: black;
      i {
        font-size: 2rem;
      }
      &:hover {
        color: white;
      }
    }
    .total__products {
      background-color: white;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      position: absolute;
      right: -10px;
      top: -10px;
      text-align: center;
      line-height: 1.25rem;
      user-select: none;
    }
  }
  #cart {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 0vw;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    transition: 0.3s;
    #cart__bg {
      width: 40%;
      height: 100%;
    }
    #cart__content {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 60%;
      height: 100%;
      background: white;
      flex-direction: column;
      color: black;
      display: none;
      .cart_header {
        h2 {
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
          transform: translateY(1rem);
        }
        button {
          position: absolute;
          top: 20px;
          right: 25px;
          font-size: 1.5rem;
          color: black;
        }
      }
      .cart__body {
        margin-top: 30px;
        width: 90%;
        height: 50%;
        margin-left: 5%;
        p#cart__empty {
          height: 50%;
          color: rgb(99, 75, 75);
          font-size: 2rem;
          font-weight: 900;
          text-align: center;
          // margin: auto 10%;
          display: block;
        }
        .cart__item {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 15px 0;
          border-bottom: 1px solid black;
          &:hover {
            background: rgba(255, 255, 255, 0.25);
          }
          .item__img {
            height: 5rem;
            width: 5rem;
            img {
              width: 100%;
              object-fit: contain;
            }
          }
          .item__amount {
            font-weight: bold;
            font-size: 20px;
            .decrease {
              color: red;
              // font-weight: 700;
            }
            .increase {
              color: blue;
            }
            span {
              margin: 0 10px;
            }
          }
          button {
            i {
              // color: white;
              color: black;
              &:hover {
                color: red;
              }
            }
          }
        }
      }
      .cart__footer {
        position: absolute;
        bottom: 50px;
        right: 35px;
        display: flex;
        flex-direction: column;
        #total__money {
          color: red;
        }
        strong {
          text-align: right;
          font-size: 1.5rem;
          font-weight: 600;
          transform: translateY(-10px);
        }
        .cart__actions {
          color: #010101;
          button {
            color: black;
            font-size: 1.2rem;
            border-radius: 10px;
            padding: 1rem 2rem;
            margin-left: 20px;
            transition: 0.2s ease-in;

            &:hover {
              transform: scale(1.1);
              color: white;
            }
          }
          button:first-child {
            background: rgb(21, 51, 150);
          }
          button:last-child {
            background: rgb(221, 146, 133);
          }
          .purchase {
            i {
              color: #6665dd;
            }
          }
          .clear__cart {
            i {
              color: #bb342f;
            }
          }
        }
      }
    }
  }
}
